@import "home";
@import "contactos";
@import "error";
@import "login";
@import "produtos";
@import "shoppingcar";
@import "detalhes";


html, body {
    min-height: 100% !important;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 500 !important;
}

.links-navbar:hover{
    text-decoration: underline;
}